name: testcode-1

on: [push]

jobs:
 testcode:
  runs-on: ubuntu-latest
  
  steps:
     - run: echo "this is running inside in a ${{ runner.os }} server in github" 
     - name: Checkout
       uses: actions/checkout@v2.5.0 
     - run: echo "this repo is ${{ github.repository }}"
